.navbar{
    height: 100px;


    .wrapper{
        max-width: 1366px;
        margin:auto;
        display: flex;
        align-items: center;
        height: 100%;
        justify-content: center;
        gap: 20px;
    }

    span{
        font-weight: bold;
    }
}